include sqlbucket/template/integrity/integrity_one.sql
include sqlbucket/template/queries/query_one.sql
include sqlbucket/template/queries/query_two.sql
include sqlbucket/template/config.yaml
include sqlbucket/macros/common.jinja2
include sqlbucket/macros/aggregations.jinja2
