{% macro are_within_threshold(scalar_a, scalar_b, threshold) %}
    select

        ({{ scalar_a }})    as source,

        ({{ scalar_b }})    as target,

        {{ threshold }}     as threshold,

        abs((({{ scalar_a }}) - ({{ scalar_b }})) / nullif(({{ scalar_b }}), 0)) <= {{ threshold }}
        or ( (nvl(({{ scalar_a }}), 0 )) = 0 and (nvl(({{ scalar_b }}), 0)) = 0 )

        as passed

{% endmacro %}

